@import "tailwindcss";

@theme {
    /* Fonts */
    --font-sans: "Inter", "sans-serif";
    --font-display: "Archivo Black", "sans-serif";

    /* Custom Colors */
    --color-shop-black: #000000;
    --color-shop-gray: #F0F0F0;
    --color-shop-border: rgba(0, 0, 0, 0.1);
}

/* Base Styles */
@layer base {
    body {
        font-family: var(--font-sans);
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-display);
    }
}